body {
	background-color: #EEEEEE;
	margin: 40px auto;
	max-width: 650px;
	line-height:1.6;
	font-size:18px;
	color:#444;
	padding:0 10px;
	font-family: Roboto;
}
h1, h2, h3{
	font-family: Share Tech;
	line-height:1.2;
}
ul {
	list-style: square;
}
mark {
	background-color: #8ffffe;
}
#profilbild {
	border-radius: 50%;
}
#logo {
	margin: auto;
	display:block;
}